<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
       <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="star-primary">
       </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p class="justify">The UC Davis Mechanical Engineering Capstone Project
        is the culmination of our students' Bachelor of Science in Mechanical
        Engineering. Student groups are paired with a stakeholder who provides
        a need or problem that our students are engaged to solve. Stakeholders
        range from industry partners and startup efforts to research
        insititutions and non-profits.</p>
      </div>
      <div class="col-lg-4">
        <p class="justify"> The students work closely with the stakeholder and
        our faculty mentors over a period of approximately six months to design
        and deliver a solution. The stakeholders are responsible for
        articulating a need through a proposal, working closely with the
        students over the course of the project, and providing additional
        resources for the group's success.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="btn btn-lg btn-outline">More about the program.</p>
      </div>
    </div>
  </div>
</section>
